 @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Roboto:wght@500&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');

 * {
     margin: 0;
     padding: 0;
     /* background-color: red; */
 }

 body {
     background-color: lightblue
 }

 .Slidebar {
     background-color: rgb(160, 165, 160);


     position: absolute;
     font-family: 'Fira Sans', sans-serif;
     height: 100vh;
     transition: 0.3s ease-in;
 }

 .main {
     margin-left: 40px;
     width: 90vw;
     /* background-color: red; */
 }

 .Slidebar nav {
     padding: 25px;
 }

 .Slidebar nav li a {
     text-decoration: none;
     color: black;
     font-weight: bold;
 }

 .Slidebar li {
     list-style-type: none;
     font-size: 20px;
     padding: 33px 0;
 }

 .container {
     display: flex;
 }

 .inocontainer {

     height: 58vh;
     width: 80vw;
     margin: auto;
     margin-top: 80px;
     display: flex;
     justify-content: space-around;


 }

 .devpic img {
     height: 58vh;
     margin-left: 80px;
     /* border: 2px solid red; */
 }

 .devinfo {
     display: flex;
     justify-content: center;
     flex-direction: column;
     font-family: 'Fira Sans', sans-serif;
     font-family: 'Roboto', sans-serif;

     padding-left: 30px;
 }

 .hello {
     font-size: 60px;

 }

 .name {
     font-size: 40px;
 }

 .about {
     font-size: 30px;
 }

 .moreabout {
     font-size: 18px;
     margin-top: 10px;
 }

 .buttons button {
     margin-top: 20px;
     padding: 5px;
     color: white;
     margin-left: 10px;
     border-radius: 50px;
     border: 1px solid blue;
     background-color: rgb(50, 50, 255);
     box-shadow: 2px 2px 2px black;
     cursor: pointer;


 }

 button:hover {

     background-color: white;
     color: rgba(50, 50, 250, 0.733);
     font-weight: bold;
 }

 .contactform {

     height: 50vh;
     width: 80vw;

 }

 form {

     margin-top: 30px;


     padding: 20px;
     font-size: 20px;
     margin-bottom: 20px;

 }

 .contactform div {
     padding: 10px 0px;
 }

 .contactform h1 {
     text-align: center;
 }

 #emailHelp {
     font-size: 17px;
     color: midnightblue;
     margin: 0px 5px;
 }


 input {
     width: 26vw;

     height: 20px;
     border: 2px solid black;

     font-size: 15px;
 }

 #exampleCheck1 {
     width: 2%;
 }

 .btn {
     padding: 20px;
     background-color: red;
 }

 .blogitem {
     margin: 20px;
     font-family: 'Roboto', sans-serif;
 }

 .blogitem h2 {
     padding: 8px;
 }

 .blogitem p {
     font-family: 'Fira Sans', sans-serif;

 }

 .ReadMore {
     padding: 10px;
     margin-top: 10px;
     border-radius: 50px;
     font-weight: 700;
     border: 2px solid black;
     box-shadow: 2px 2px 2px black;
     background-color: white;
 }

 .ReadMore:hover {
     background-color: violet;
 }

 .blogitem h2 {
     font-size: 20px;
     font-family: 'Lato', sans-serif;
 }

 .blogcontainer h1 {
     font-size: 30px;
     text-align: center;
     font-family: 'Lato', sans-serif;
 }

 .ReadMore a {
     text-decoration: none;
     padding: 5px;

 }

 .infoAbout {
     margin: 20px;
     font-family: 'Lato', sans-serif;

 }

 .introduction {
     margin-top: 20px;
     font-size: 18px;
 }

 .skillContainer {
     margin-top: 20px;
 }

 .SchoolAndCollege {
     margin-top: 20px;
 }

 .SchoolAndCollege h2 {
     margin-top: 20px;
 }

 .SlidebarGo {
     transform: translate(-443px, 0px);
     position: absolute;
 }


 .hamburger {
     cursor: pointer;
     position: absolute;
     top: 10px;
     left: 10px;

 }

 .ham {
     font-weight: bold;
     font-size: x-large;
 }

 .cross {
     margin-left: 110px;
     margin-top: 10px;
     font-size: 50px;
 }

 @media (max-width:1015px) {

     .devpic {
         display: none;
     }

     /* .Slidebar {
         position: absolute;
     } */
 }